.scroll-wrapper {
  height: 500vh;
}

.sticky-parent {
  min-height: 100vh;
  padding: 120px 0px;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
}

.scrolleable-block {
  width: 400vw;
  display: flex;
  gap: 64px;
  justify-content: space-between;
  will-change: transform;
}

.element {
  height: 100%;
  width: 800px;
}