.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none; /* No mouse events when not active */
  backdrop-filter: blur(4px);
}

.overlay.show {
  pointer-events: auto; /* Enable mouse events when active */
}

.card {
  position: relative;
  background: var(--color-dark);
  color: var(--color-light);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transform: translateY(100vh); /* Offscreen initially */
  opacity: 0;
  transition: transform 250ms ease-out, opacity 100ms ease-out;
}

.overlay.show .card {
  transform: translateY(0); /* Slide in */
  opacity: 1;
}

/* Mobile-specific styles */
@media (max-width: 920px) {
  .card {
    width: 95%; /* Full width on mobile */
    box-sizing: border-box;
    transform: translateY(100vh); /* Offscreen initially */
    position: fixed;
    bottom: 12px;
  }

  .overlay.show .card {
    transform: translateY(0); /* Slide up */
  }
}

.card .btn {
  width: 100%;
}

.card .btn.ghost {
  background: rgba(244, 244, 244, 0.08);
  color: var(--color-light);
  transition: 300ms ease all;
}

.card .btn.ghost:hover {
  background: rgba(244, 244, 244, 0.16);
}

.card .btn.danger {
  background: none;
  color: rgb(255, 130, 157);
}

.card .btn.danger:hover {
  background: rgba(244, 244, 244, 0.16);
}